body{
  font-family: 'Merriweather', serif;
  font-size: 14px;
  background-color: #f4f4f4;
}
.white{
  background-color: #fff
}

.logo{
  font-size: 90px
}
.title{
  font-family: 'Anton', sans-serif;
  position: relative;
  top: 5px
}
.subtitle{
  font-size: 18px;
}
.session{
}

.footer{
  background-color: #f4f4f4;
  color:#888;
  font-family: "Times";
  font-size:0.9em;
  text-align: center;
  line-height: 80px;
  height:80px
}

a,a:link,a:hover,a:active,a:visited{
  color:#ff8096 !important;
  text-decoration: none
}
